*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: gainsboro;
}

.App {
  text-align: center;
}

.main-schedule {
  margin-left: auto;
  margin-right: auto;
}

tr.header > th {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: skyblue;
}

tr.week-row > td {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: bisque;
}

p > strong {
  font-size: 30px;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/