*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(255, 233, 233);
  font-family: 'Space Mono', monospace;
  user-select: none;
}

.App {
  text-align: center;
}

.main-schedule {
  margin-left: auto;
  margin-right: auto;
}

.intro {
  font-size: 15px;
  line-height: 3px;
}

tr.header > th {
  height: 50px;
  width: 100px;
  border-radius: 5px;
  background-color: skyblue;
}

tr.week-row > td {
  height: 100px;
  width: 100px;
  border-radius: 5px;
  background-color: bisque;
  font-size: x-large;
}

footer {
  position: fixed;
  width: 100%;
  text-align: center;
  background-color: azure;
  bottom: 0;
}

input {
  width: 50px;
  font-family: 'Space Mono', monospace;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, .70);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button.addWeek {
  font-size: 15px;
  font-family: 'Space Mono', monospace;
  border-color: bisque;
  border-radius: 5px;
  background-color: blanchedalmond;
}

/*
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
*/